<ng-content></ng-content>


<h1>{{ngClass}}</h1>




<p [ngClass]="{'active': valor, 'disable': !valor}">NgClass</p>


<hr>

<h2>{{ngStyle}}</h2>

<p [ngStyle]="{'height': heightPx, 'background': backgroundColor}">ngStyle</p>

<hr>

<h1>Ng model</h1>
<input [(ngModel)]="nome">
<button (click)="salvar()" >Salvar</button>

<li *ngFor="let item of list">{{item.nome }}</li>

<hr>

<h1>Ng template</h1>

<ng-template ngFor let-item [ngForOf]="list" >

  <p>
    {{item.nome}}

  </p>

</ng-template>

<hr>

<h1>NG CONTENT</h1>

<ng-content></ng-content>

<hr>
<ng-content select="H5"></ng-content>



{{date | date: 'ddMMyyyy'}}