<h1>Interpolação</h1>
<p> nome é {{nome}} tenho {{idade}} anos.</p>
<p> {{ nome}} tem mais de 39 anos?</p>
<p>{{idade > 39}}</p>

<p>quanto é {{idade}} + {{maisUm}} ?</p>
<p> {{idade + maisUm }}</p>

<hr>

<h2>proprety blinding</h2>

<button [disabled]="negar">apertar</button>
<img [src]="srcImage" [alt]="imagem" [title]="teste">

<br>
<br>


<hr>

<h3>EVENT blinding</h3>

<button (click)="alertaInfo($event)" >Evento</button>

<div (mousemove)="mouseMoveTeste($event)" style="background-color:blue; width:300px; height: 300px;"></div>

{{ position.x }} - {{ position.y}}

<br>
<br>


